python-docx
comtypes
webdriver_manager
selenium==4.16.0
pyautogui
textwrap3
opencv-python
openpyxl
Jinja2
matplotlib
pandas
jproperties
tabulate
Appium-Python-Client
python-docx
comtypes
webdriver_manager
selenium==4.16.0
pyautogui
textwrap3
opencv-python
openpyxl
Jinja2
matplotlib
pandas
jproperties
tabulate
Appium-Python-Client